<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Code with a view</title>
        <link rel="stylesheet" href="assets/styles/css/style.css" />
    </head>
    <body id="home">
        
        
        <header>
            <nav>
                <ul>
                    <li>Edumy</li>
                    <li>Home</li>
                    <li>Courses</li>
                    <li>Event</li>
                    <li>Pages</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
                <ul>
                    <li><img src="assets/styles/img/search.jpeg"></li>
                    <li><img src="assets/styles/img/search.jpeg"></li>
                    <li><img src="assets/styles/img/search.jpeg"></li>
                </ul>
            </nav>
            <section>
                <h1>COURSES</h1>
                <ul>
                    <li><a>Home </a> / </li>
                    <li><a>Graphic Design </a> / </li>
                    <li><a>Adobe Illustrator </a></li>
                </ul>
            </section>
            
        </header>
        
    </body>
</html>