<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Code with a view</title>
        <link rel="stylesheet" href="assets/styles/css/style.css" />
    </head>
    <body id="home">
        
        
        <header>
            <nav>
                <ul>
                    <li>EDUMY</li>
                    <li>HOME</li>
                    <li>COURSES</li>
                    <li>EVENT</li>
                    <li>PAGES</li>
                    <li>BLOG</li>
                    <li>CONTACT</li>
                </ul>
                <ul>
                    <li><img src="assets/styles/img/search.jpeg"></li>
                    <li><img src="assets/styles/img/search.jpeg"></li>
                    <li><img src="assets/styles/img/search.jpeg"></li>
                </ul>
            </nav>
            <section>
                <h1>COURSES</h1>
                <ul>
                    <li><a>Home </a> / </li>
                    <li><a>Graphic Design </a> / </li>
                    <li><a>Adobe Illustrator </a></li>
                </ul>
            </section>
            
        </header>
        
        <main>
            
            <article>
                    <ul>
                        <li><img src="assets/styles/img/tete.png"></li>
                        <li>Ali TUFAN</li>
                        <li>Last updated 09 / 2019</li>
                    </ul>
                    <h2>Designing a Responsive Mobile Website with Muse</h2>
                    <ul>
                        <li><button>Best Seller</button></li>
                        <li><img src="assets/styles/img/star.jpg"></li>
                        <li><img src="assets/styles/img/star.jpg"></li>
                        <li><img src="assets/styles/img/star.jpg"></li>
                        <li><img src="assets/styles/img/star.jpg"></li>
                        <li><img src="assets/styles/img/star.jpg"></li>
                        <li>4.5</li>
                        <li> (11,382 ratings)</li>
                        
                        
                    </ul>
                    <ul>
                        <li>57 000 students enrolled </li>
                        <li> 25 reviews </li>
                    </ul>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/oZKms31-Chc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
            
            <article>
                <h2>Overview</h2>
                <h3>Course Description</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                
                <ul>
                    <li><h3>What you'll learn</h3></li>
                    <li><img src="assets/styles/img/check.png"> Become a UX designer.</li>
                    <li><img src="assets/styles/img/check.png">You will be able to add UX designer to your CV</li>
                    <li><img src="assets/styles/img/check.png">Become a UI designer.</li>
                    <li><img src="assets/styles/img/check.png">Build & test a full website design.</li>
                    <li><img src="assets/styles/img/check.png">Build & test a full mobile app.</li>
                    <li><img src="assets/styles/img/check.png">Learn to design websites & mobile phone apps.</li>
                    <li><img src="assets/styles/img/check.png">You'll learn how to choose colors.</li>
                    <li><img src="assets/styles/img/check.png">Prototype your designs with interactions.</li>
                    <li><img src="assets/styles/img/check.png">Export production ready assets.</li>
                    <li><img src="assets/styles/img/check.png">All the techniques used by UX professionals</li>
                </ul>
                <ul>
                    <li><h3>Requierment</h3></li>
                    <li>You will need a copy of Adobe XD 2019 or above. A free trial can be downloaded from Adobe.</li>
                    <li>No previous design experience is needed.</li>
                    <li>No previous Adobe XD skills are needed.</li>
                </ul>
            </article>
            
            <article>
                
                <ul>
                    <li><h3>Course Content</h3></li>
                    <li>Getting Start</li>
                    <li>The Brief</li>
                    <li>Wireframng Low Fidelity</li>
                    <li>Type, Color & Icon Animation</li>
                    
                </ul>
            </article>
        </main>
            
        
    </body>
</html>